@font-face {
  font-family: "NeueHaasUnica";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnicaM";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Medium.ttf");
}

.ConfirmMail, .title, .title .content p, .title .content, .Dropo label, .creditInput label, .creditInput input {
  font-family: "NeueHaasUnica" !important;
}
.container {
  width: 75%;
  margin: auto;
}
.titleAccordion {
  background-color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleAccordion.active {
  background-color: #e0e0e0;
}

.title {
  background: #f3f4f4;
  padding: 10px 0 10px 37px;
  height: 73px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  color: #8C8C8C;
  font-size: 25px;
  font-weight: 500;
}



.title input[type="radio"], .title input[type="radio"]:checked{
  width: 25px;
  height: 25px;
  top: 30%;
}

.title input[type="radio"] {
  padding: 0;
  border: 5px solid #000000;
  margin-right: 16px;
}

.title input[type="radio"]:checked {
  border: 8px solid #003b5f;
}

.title.borderRad {
  border-radius: 20px 20px 0px 0px;
}
.active{
  color: #000;
}
.title .active{
  color: #000 !important;
}

.title .content {
  padding: 28px 28px 58px 28px;
  font-size: 16px;
}

.title .content p {
  font-size: 16px;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 20px;
}

.title input[type="radio"]:checked:after, .title input[type="radio"]:not(:checked):before{
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #f3f4f4;;
  content: "";
  display: inline-block;
  visibility: visible;
}

.title input[type="radio"]:checked:after {
  border: 8px solid #000;
  transition: 0.5s;
}
.title input[type="radio"]:not(:checked):before {
  border: 6px solid #8c8c8c;
  transition: 0.5s;
}
.content {
  padding: 10px;
}
.ConfirmMail {
  color: #000;
  font-size: 14px;
  
  font-weight: 400;
  
  padding: 15px 0 15px 40px;
  text-align: left;
}

.Dropo .dropDown {
  position: relative;
}

.Dropo ul {
  list-style: none;
  padding-left: 0px;
  position: absolute;
  background-color: #ffffff;
  padding: 0px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 106%;

  border-radius: 5px;
}

.Dropo ul li {
  border: 0.5px solid #e4e4e4;
  padding: 0 0 0 10px;
  border-radius: 5px;
  height: 50px;
}

.Dropo ul li:hover {
  background-color: #f6f6f6;
}

.Dropo .dropDown {
  background: #fff;
  padding: 10px 14px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  display: flex;
  align-items: center;
}

.Dropo {
  padding: 20px 40px 0 40px;
}
.Dropo label {
  margin: 0 0 6px 0;
  color: #222;
  text-align: justify;
  font-size: 16px;
  
  font-weight: 400;
  line-height: 24px;
}


.ExpiryDate{
  display: flex;
  gap: 30px;
}

.HashRed {
  color: #f03434;
}
.dropDown img {
  margin: 0 10px 0 2px;
}

.arrowIcon {
  position: absolute;
  right: 30px;
  font-size: 25px;
  transform: rotate(316deg);
}
.arrowIcon {
  display: inline-block;
}
.creditInput label {
  color: #222;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 6px 0;
}
.creditControl {
  padding: 0 0 40px 40px;
}
.creditControl {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.creditInput {
  width: 50%;
}

.creditOut {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  margin: 47px 40px 0 0;
  padding: 0px 0 0 40px;
}

.creditInput input {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
  color: #222;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 52px;
  padding: 0 0 0 10px;
  width: 100%;
  outline: none;
}

.creditInput input::placeholder {
  color: #000;
}
.travel1 {
  width: 100%;
  display: flex;
  margin: 34px 0;
  justify-content: space-between;
}

.travel2 {
  width: 75%;
  border-radius: 20px;
  background: #fff;
  margin-right: 20px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024.98px) {
  .travel2a {
    margin: 0 0 30px 0;
  }
  .travel2 {
    width: 100%;
  }

  .travel1 {
    display: block;
  }

  .container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 991.98px) {
  .travel2a {
    padding: 17px 17px 62px 17px;
  }
}

@media (max-width: 767.98px) {
  .creditOut {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 47px 0 0 0;
    padding: 0px 0 0 0px;
  }

  .creditInput {
    width: 92%;
    padding: 0 0 0 40px;
  }
  .creditControl {
    display: block;
  }

  .creditControl {
    padding: 0 0 28px 0px;
  }
  .title {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .creditInput {
    width: 96%;
    padding: 0 0 0 15px;
  }

  .creditInput input, .creditInput label  {
    font-size: 13px;
  }
  .creditControl {
    padding: 0 0 40px 0px;
  }
  .arrowIcon {
    font-size: 20px;
  }

  .dropDown img {
    width: 35px;
  }
  .Dropo {
    padding: 20px 15px 0 15px;
  }

  .Dropo .dropDown {
    padding: 10px 4px;
  }

  .Dropo label {
    font-size: 13px;
  }
}

@media (max-width: 445.98px) {
  .creditInput label, .creditInput input, .Dropo label  {
    font-size: 12px;
  }

  .arrowIcon {
    font-size: 17px;
  }

  .arrowIcon {
    position: absolute;
    right: 10px;
    top: unset;
  }
}

@media (max-width: 355.98px) {
  .dropDown img {
    margin: 0 2px 0 0px;
  }
}
