@font-face {
  font-family: "NeueHaasUnica";
  font-display: swap;
  src: url("../../../public/font/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnicaM";
  font-display: swap;
  src: url("../../../public/font/NeueHaasUnica-Medium.ttf");
}

// .titleAccordion {
//   background-color: #f4f4f4;
//   padding: 10px;
//   cursor: pointer;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .titleAccordion.active {
//   background-color: #e0e0e0;
// }

// .content {
//   padding: 10px;
// }

.container {
  width: 75%;
  margin: auto;
}

.CheckFLoat {
  float: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ChecFlo {
  width: 100%;
}

.controlAccodion {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.CreditSmallImg {
  display: flex;
}

.CreditSmallImg h4 {
  color: #000;
  font-family: "NeueHaasUnica" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
    margin: 0;
}

// .CreditSmallImg .imgSmall {
//   width: 25%;
//   margin: 0 10px 0 0;
// }

// .CreditSmallImg .TravelContent {
//   width: 60%;
// }

// .TravelContent img {
//   height: 13px;
//   width: 13px;
//   margin: 0 1px;
// }

// .TravelContent p {
//   color: #9d9d9d;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 300;
//   line-height: normal;
//   margin-bottom: 5px;
//   text-align: left;
// }

// .TravelPrice {
//   display: flex;
//   justify-content: space-between;
//   margin: 0 0 7px 0;
// }

// .TravelPrice .TravelPricea p {
//   color: #000;
//   font-family: "NeueHaasUnicaM" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: normal;
//   margin: 0;
// }

// .TravelPrice .TravelPriceb p {
//   color: #000;
//   text-align: right;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
//   margin: 0;
// }

// .PriceBSpan {
//   color: #9d9d9d;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 10px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   margin-bottom: 10px;
// }

// .PriceBh5 {
//   color: #000;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 10px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   margin: 0;
// }

// .buttonItinery .buttonBlack {
//   margin: 0 50px 0px 0px;
//   border-radius: 10px;
//   border: 2px solid #000;
//   background: #000;
//   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
//   color: #fff;
//   text-align: center;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 20px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
//   text-transform: uppercase;
//   height: 63px;
//   width: 100%;
// }

// .buttonItinery .buttonWhite {
//   color: #000;
//   text-align: center;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 20px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
//   text-transform: uppercase;
//   border-radius: 10px;
//   // border: 1px solid #000;
//   background: #fff;
//   height: 63px;
//   width: 100%;
//   margin: 0 0px 0px 20px;
// }

// .buttonItinery {
//   display: flex;
//   width: 75%;
//   justify-content: space-between;
//   padding-right: 16px;
//   margin: 23px 0 47px 0;
//   text-align: start;
// }

// .buttonBlackb {
//   width: 50%;
//   display: flex;
// }

// .creditControl {
//   display: flex;
//   width: 100%;
//   justify-content: space-between;
// }

// .creditInput {
//   width: 50%;
// }

// .creditOut {
//   width: 50%;
//   display: flex;
//   justify-content: flex-end;
//   margin: 47px 40px 0 0;
//   padding: 0px 0 0 27px;
// }

// .creditInput input {
//   border-radius: 5px;
//   border: 1px solid #e4e4e4;
//   background: #fff;
//   color: #222;
//   text-align: justify;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 24px;
//   /* 150% */
//   height: 52px;
//   padding: 0 0 0 10px;
//   width: 100%;
//   outline: none;
// }

// .Dropo {
//   padding: 20px 40px 0 40px;
// }
// .Dropo label {
//   margin: 0 0 0 0;
//   color: #222;
//   text-align: justify;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 24px;
// }

// .creditInput label {
//   color: #222;
//   text-align: justify;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 16px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 24px;
//   /* 150% */
//   margin: 20px 0 0 0;
// }

.custonDrop {
  width: 100%;
  height: 52px;
  padding: 0 0 0 10px;
  margin: 16px 0 0px 0;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: #fff;
}


// .creditControl {
//   padding: 0 0 40px 40px;
// }

// .title {
//   background: #f3f4f4;
//   padding: 10px 0 10px 37px;
//   height: 73px;
//   display: flex;
//   align-items: center;
//   border-bottom: 1px solid #fff;
//   color: #000;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 25px;
//   font-style: normal;
//   font-weight: 600;
//   line-height: normal;
// }

// .title input[type="radio"] {
//   padding: 0;
//   width: 25px;
//   height: 25px;
//   top: 30%;
//   border: 5px solid #000000;
//   margin-right: 16px;
// }

// .title input[type="radio"]:checked {
//   width: 25px;
//   height: 25px;

//   top: 30%;
//   border: 8px solid #003b5f;
//   background-image: transparent !important;
// }

// .title.borderRad {
//   border-radius: 20px 20px 0px 0px;
// }

// .title .content {
//   padding: 28px 28px 58px 28px;
//   font-size: 16px;
//   font-family: "NeueHaasUnica" !important;
// }

// .title .content p {
//   font-size: 16px;
//   margin: 0 0 0 0 !important;
//   font-family: "NeueHaasUnica" !important;
//   padding: 0 0 0 20px;
// }

// .creditInput input::placeholder {
//   color: #000;
// }

.custonDrop option {
  color: #5f5f5f;
  opacity: 1;
}

.dropD {
  padding: 28px 28px 28px 28px;
}

// .title input[type="radio"]:checked:after {
//   width: 25px;
//   height: 25px;
//   border-radius: 15px;
//   background-color: #ffff;
//   content: "";
//   display: inline-block;
//   visibility: visible;
//   border: 8px solid #000;
//   transition: 0.5s;
// }

// .title input[type="radio"]:not(:checked):before {
//   width: 25px;
//   height: 25px;
//   border-radius: 15px;
//   background-color: #ffff;
//   content: "";
//   display: inline-block;
//   visibility: visible;
//   border: 4px solid #8c8c8c;
//   transition: 0.5s;
// }

// .HashRed {
//   color: #f03434;
// }

// .Dropo .dropDown {
//   position: relative;
// }

// .Dropo ul {
//   list-style: none;
//   padding-left: 0px;
//   position: absolute;
//   background-color: #ffffff;
//   padding: 0px;
//   width: 100%;
//   left: 0;
//   right: 0;
//   margin: auto;
//   top: 106%;

//   border-radius: 5px;
// }

// .Dropo ul li {
//   border: 0.5px solid #e4e4e4;
//   padding: 0 0 0 10px;
//   border-radius: 5px;
//   height: 50px;
// }

// .Dropo ul li:hover {
//   background-color: #f6f6f6;
// }

// .Dropo .dropDown {
//   background: #fff;
//   padding: 10px 14px;
//   border-radius: 5px;
//   border: 1px solid #e4e4e4;
//   display: flex;
//   align-items: center;
// }

// .arrowIcon {
//   position: absolute;
//   right: 30px;
//   font-size: 25px;
//   transform: rotate(316deg);
// }

// .arrowIcon {
//   display: inline-block;
// }

// .dropDown img {
//   margin: 0 10px 0 2px;
// }

// .ConfirmMail {
//   color: #000;
//   font-family: "NeueHaasUnica" !important;
//   font-size: 14px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: normal;
//   padding: 15px 0 15px 40px;
//   text-align: left;
// }

// @media (max-width: 1199.98px) {
//   .buttonItinery .buttonBlack {
//     font-size: 16px;
//     height: 50px;
//   }

//   .buttonItinery .buttonWhite {
//     font-size: 16px;
//     height: 50px;
//   }
// }

@media (max-width: 991.98px) {
  // .buttonItinery {
  //   width: 100%;
  //   padding-right: 0px;
  // }
  // .CreditSmallImg {
  //   display: block;
  //   margin: 10px 0 0 0;
  // }

  // .CreditSmallImg h4 {
  //   margin: 10px 0 0 0;
  // }
  
}

@media (max-width: 767.98px) {
  
    // .buttonItinery .buttonWhite {
    //   margin: 0 0px 0px 0px;
    // }
  
    // .buttonItinery {
    //   display: block;
    // }
  
    // .buttonBlackb {
    //   width: 100%;
    //   margin: 20px 0 0 0;
    // }
  
    // .buttonItinery .buttonBlack {
    //   margin: 0 0px 0px 0px;
    // }
  
    // .buttonItinery .buttonBlack {
    //   font-size: 12px;
    // }
  
    // .buttonItinery .buttonWhite {
    //   font-size: 12px;
    // }
  // .title {
  //   font-size: 20px;
  // }
  .container {
    width: 90%;
    margin: auto;
  }

  // .creditControl {
  //   padding: 0 0 28px 0px;
  // }


  // .creditOut {
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   margin: 47px 0 0 0;
  //   padding: 0px 0 0 0px;
  // }

  // .creditInput {
  //   width: 92%;
  //   padding: 0 0 0 40px;
  // }

  // .creditControl {
  //   display: block;
  // }

  // .buttonItinery .buttonBlack {
  //   font-size: 14px;
  //   height: 50px;
  // }

  // .buttonItinery .buttonWhite {
  //   font-size: 14px;
  //   height: 50px;
  // }
}

@media (max-width: 575.98px) {
  // .Dropo label {
  //   font-size: 13px;
  // }
  // .creditInput {
  //   width: 96%;
  //   padding: 0 0 0 15px;
  // }

  // .creditInput input {
  //   font-size: 13px;
  // }

  // .creditControl {
  //   padding: 0 0 40px 0px;
  // }
  // .creditInput label {
  //   font-size: 13px;
  // }
  // .dropDown img {
  //   width: 35px;
  // }


  // .arrowIcon {
  //   font-size: 20px;
  // }


  // .Dropo {
  //   padding: 20px 15px 0 15px;
  // }

  // .Dropo .dropDown {
  //   padding: 10px 4px;
  // }

}

@media (max-width: 445.98px) {
  // .Dropo label {
  //   font-size: 12px;
  // }
  // .arrowIcon {
  //   font-size: 17px;
  // }

  // .arrowIcon {
  //   position: absolute;
  //   right: 10px;
  //   top: unset;
  // }

  // .creditInput label {
  //   font-size: 12px;
  // }

  // .creditInput input {
  //   font-size: 12px;
  // }
}

// @media (max-width: 355.98px) {
//   .dropDown img {
//     margin: 0 2px 0 0px;
//   }
// }
