@font-face {
  font-family: "NeueHaasUnica";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Regular.ttf");
}

@font-face {
  font-family: "NeueHaasUnicaM";
  font-display: swap;
  src: url("../../../../public/font/NeueHaasUnica-Medium.ttf");
}
.travel3Main {
  width: 23.5%;
}

.travel3 .SideSpaceTravel .checkDate span, .TravHeight span, .ExecllentTravel span, .MapTravel h4, .ParkingFree h4, .MapTravel span{
  font-family: "NeueHaasUnica" !important;
  font-weight: 400;
}

.travel3 .SideSpaceTravel .checkDate span {
  color: #a3a3a3;
  font-size: 16px;
}

.travel3 .SideSpaceTravel .checkDate h6 {
  color: #000;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0 0px 0;
}
.travel3 .SideSpaceTravel .checkDate {
  border-bottom: 1px solid #d9d9d9;
  margin: 0 0 6px 0;
  padding: 0 0 6px 0;
}

.BorderNoneCheckDate{
  border-bottom: none !important;
}
.SideSpaceTravel {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 28px;
  margin: 0 0 0px 0;
}
.travel3a h5 {
  color: #000;
  font-family: "NeueHaasUnicaM" !important;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 0px 0;
}

.travel3a {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 28px;
  margin: 0 0 0px 0;
}

.TravHeight {
  margin: 30px 0 0 0;
}

.TravHeight span {
  color: #a3a3a3;
   font-size: 16px;
 }

.ExecllentTravel {
  display: flex;
  margin: 6px 0 0 0;
}

.ExecllentTravel span {
  border: 0.5px solid #9d9d9d;
  background-color: #fff;
  color: #11aa39;
  text-align: center;
  font-size: 12px;
  padding: 2px 12px;;
  border-radius: 4px;
}
.ExecllentMargin {
  margin: 0 14px 0 0;
}
.MapTravel img {
  margin: 23px 0 0px 0;
  width: 100%;
}
.MapTravel h4 {
  color: #000;
    font-size: 16px;
  margin: 5px 0 5px 0;
}
.MapTravel span {
  color: #9d9d9d;
  font-size: 16px;
}
.MapTravel .ParkingFree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.ParkingFree h4 {
  color: #11aa39;
  text-align: right;
  font-size: 14px;
}
@media (max-width: 1199.98px) {
  .ExecllentTravel {
    display: block;
  }
  .ExecllentTravel span {
    margin: 0 4px 5px 0;
  }
}
@media (max-width: 1024.98px) {

  .TravHeight {
    margin: 0px 0 0 0;
  }
  .SideSpaceTravel,
  .travel3a {
    width: 48%;
  }
  .travel3Main {
    width: 100%;
  }
  .travel3 {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .travel3 {
    display: block;
    }
  .SideSpaceTravel,
  .travel3a {
    width: 100%;
  }
  .travel3 {
    display: block;
  }
  .SideSpaceTravel,
  .travel3a {
    margin: 0 0 18px 0;
  }
}
