@font-face {
	font-family: "NeueHaasUnica";
	font-display: swap;
	src: url("../../../../public/font/NeueHaasUnica-Regular.ttf");
  }
  
  @font-face {
	font-family: "NeueHaasUnicaM";
	font-display: swap;
	src: url("../../../../public/font/NeueHaasUnica-Medium.ttf");
  }


.container{
	width: 75%;
	margin: auto;
}

.dropdownContainer{
	display: flex;
	gap :10px;
	width: 90%;
	margin: auto;
    justify-content: space-between;
	padding: 10px;
	border-radius: 15px;
background-color: #EDEDF5;
height: 50px;
align-items: center;
}

.dropdownHeader{
	// background-color: #EDEDF5;
}

.DropDraw{
	padding: 0 0 0 10px;
	border-left: 1px solid #d9d9d9;
	font-family:  "NeueHaasUnica"!important;;
	font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
color: #000;
}

.dropdownItem:hover{
	background-color: #d9d9d9;
}

.dropdownItem{
	border-bottom: 1px solid #d9d9d9;
}

.SearchBarMain{
	border-radius: 25px;
border: 1px solid #E5E5E5;;
background: #FFF;
display: flex;
justify-content: space-between;
align-items: center;
 padding: 0px 20px;
 width: 100%;
 position: relative;
 top: -53RRpx;
}

.SearchBarMain input{
	border-left: 1px solid #d9d9d9;
	border-right: 0px solid #d9d9d9;
	border-top: 0px solid #d9d9d9;
	border-bottom: 0px solid #d9d9d9;
	outline: none;
	// border: 0px solid;
}

.SearchBarMain input[type="text"]{
	color: #939393;
font-family: "NeueHaasUnica"!important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.SearchBarC button{
	border-radius: 12px;
background: #000;color: #FFF;
font-family: "NeueHaasUnica"!important;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding:13px 26px;
}

.SearchBarA{
	width: 20%;
	display: flex;
	justify-content: start;
	border-right: 1px solid #000;
	
}

.SearchBarB{
	width: 60%;
	display: flex;
	// justify-content: center;
	justify-content: space-between;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	height: 105px;
}

.SearchBarC{
	width: 20%;
	display: flex;
	justify-content: end;
}