.container{
	width: 75%;
	margin: auto;
}

.dropdownContainer{
	display: flex;
	gap :10px;
	background-color:#EDEDF5 ;
	padding: 10px;
}

.dropdownHeader{
	background-color: #EDEDF5;
}

.DropDraw{
	padding: 0 0 0 10px;
	border-left: 1px solid #d9d9d9;
}

.dropdownItem:hover{
	background-color: #d9d9d9;
}

.dropdownItem{
	border-bottom: 1px solid #d9d9d9;
}