@import "styles/settings/__settings";

.archiveDescription {
  text-align: center;
  font-size: 1.1em;
  color: $color-gray-600;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}
.MasterHead {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  padding-top: 0%;
  padding-left: 5%;
  padding-bottom: 0%;
  min-height: 500px;
  background-position: top center;
}
.posts {
  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

  & > li {
    margin: 0.5rem;
    border: 1px solid #ccc;
    padding: 1rem;

    

    &:last-child {
      margin-bottom: 0;
    }
    
    h3{
      margin: auto;
    min-height: 65px;
    font-size: 1.2em;
    }
  }
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  /*height: 250px;
 */
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  display: block;
  transition: 0.3s;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 2;
}
.sidepanel a:hover {
  color: #181818;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
  border: none;
  float: left;
}
.openbtn:hover {
  color: #444;
}
.container {
  width: 1200px;
  margin: auto;
}
.topnav {
  overflow: hidden;
  background-color: #fff;
}
.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.topnav a:hover {
  text-decoration: underline;
}
.topnav a.active {
  text-decoration: underline;
}
.topnav-right {
  float: right;
}
/*17-10-2022*/
.TopNavBarCustom {
  display: flex;
  justify-content: space-between;
}
.container-fluid {
  width: 100%;
}
.boxGrayTop {
  background-color: #e8e8e8;
  color: #000;
  min-height: 121px;
  min-width: 45.5rem;
  padding: 0.9375rem 0 1.25rem;
  text-align: center;
  width: 100%;
}
.width50 {
  width: 50%;
  display: contents;
  text-align: center;
}
.d-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item_content item_image";
}
.ShoppingSec {
  padding: 0 96px;
  margin: auto;
}
.ShoppingText {
  margin: 0 auto 2rem;
  padding-bottom: 0.25rem;
  -webkit-text-stroke: 0;
  font-size: 0.70003rem;
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}
.FashionNew {
  border-bottom: thin solid #cccccc;
  border-top: thin solid #cccccc;
  padding: 2.5rem 0 1.5rem;
  margin: 0.6rem 0;
}
.textCenter {
  text-align: center;
}
.textCenter {
  text-align: center;
}

.fashiontext a {
  font-family: SaolDisplay, Georgia, Times, serif;
  font-size: 88px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: unset;
  color: #000;
}
.OutFits {
  font-family: SaolDisplay, Georgia, Times, serif;
  font-weight: 400;
  font-size: 40px;
}
.fashiontext a:hover {
  font-style: italic;
  text-decoration: unset;
  color: #000;
}
.WhatNew {
  font-size: 26px;
  font-family: SaolText, Georgia, Times, serif;
  font-style: italic;
  font-weight: 300;
}
.All-The-Best {
  text-decoration: none;
  grid-area: content;
  display: block;
  text-align: center;
}
.imgfluid {
  max-width: 100%;
  height: auto;
}
.fashionCompaigns {
  font-size: 38px;
  font-family: SaolDisplay, Georgia, Times, serif;
  color: #000;
}
.winterComing {
  font-size: 18px;
  font-family: SaolText, Georgia, Times, serif;
  letter-spacing: 0.02rem;
  color: #000;
}
.AddressLeBlanc {
  font-size: 12px;
  display: inline-block;
  font-family: NeueHaasUnica, Arial, sans-serif;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.card {
  max-width: 280px;
  margin: auto;
  text-align: left;
  width: 25%;
}
.card a {
  text-decoration: unset;
}
.price {
  color: grey;
  font-size: 22px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  opacity: 0.7;
}
.inlineflex {
  display: inline-flex;
  grid-gap: 1.25rem;
}
.grid-gap {
  grid-gap: 1.5625rem;
}
.CreatedBy {
  text-transform: none;
  font-family: Inter, Helvetica, Arial, Sans-serif;
  font-size: 12px;
  line-height: 1.3;
}
.card a {
  color: #000;
}
.width70 {
  width: 70%;
}
.width30 {
  width: 30%;
}
.img225 {
  height: 125px;
  width: 125px;
  object-fit: var(--object-fit, cover);
  overflow: hidden;
  display: inline-block;
  background-size: cover;
}
.rightBeauty a {
  color: #000;
  text-decoration: unset;
}
.marginAuto {
  margin: auto;
}
.ByTextStyle {
  font-size: 12px;
  font-family: NeueHaasUnica, Arial, sans-serif;
  color: #000;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.PresentedBy {
  font-size: 11px;
  margin: 8px 0px;
}
.marginT5 {
  margin-top: 40px;
}
.marginB5 {
  margin-bottom: 40px;
}
.HeightWidth360 {
  height: 185px;
  width: 185px;
  background-size: cover;
  align-items: center;
  overflow: hidden;
}
.CultureCard .card {
  display: contents;
}
.ShoppingSec a {
  color: #000;
  text-decoration: unset;
}
.PointsHoursLives {
  display: grid;
  grid-column-gap: 1.25rem;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-area: content;
}
.StylePoints {
  margin-bottom: 0.3125rem;
  padding: 0rem;
}
.PointsStyle {
  font-size: 1.5rem;
  line-height: 1;
  border-top: 1.5rem solid #000000;
  text-align: left;
  font-family: SaolText, Georgia, Times, serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 0rem;
  padding: 1rem 0.2rem 0.375rem;
  text-transform: uppercase;
}
.PointsStyle a {
  color: #000;
  text-decoration: unset;
}
.PointsStyle a:hover {
  color: #000;
  text-decoration: unset;
  font-style: italic;
}
.img195 {
  height: 195px;
  width: 195px;
}
.PointsHoursLives .rightBeauty {
  margin-bottom: 1.25rem;
}
.VideoSection {
  margin-bottom: 2rem;
}
.SongAssociation {
  padding: 1.875rem 0 0;
  color: #000;
  text-decoration: unset;
}
.GouldingSings {
  font-size: 2.4rem;
  line-height: 1.2;
  display: block;
  font-family: SaolDisplay, Georgia, Times, serif;
  font-weight: normal;
  margin-bottom: 0.3125rem;
  text-align: center;
}
.NowTrending {
  font-size: 87px;
  font-family: SaolDisplay, Georgia, Times, serif;
  font-weight: 400;
  letter-spacing: -0.15rem;
}
.HeightWidth282 {
  height: 282px;
  width: 282px;
}
.TrendingTextStyle {
  font-weight: bold;
}
.InRow {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.cardTrending {
  max-width: 280px;
  margin: 0px 12px;
  text-align: left;
  width: 25%;
  color: #000;
}
.cardTrending a {
  color: #000;
}
// a:hover {
//   color: #808080;
//   -webkit-transition: color 0.3s ease-in-out;
//  transition: color 0.3s ease-in-out;
// }
.footerSpicl {
  background-color: #000000;
  color: #fff;
  font-family: NeueHaasUnica, Arial, sans-serif;
  font-size: 0.70003rem;
  letter-spacing: 0.08rem;
  line-height: 1.4;
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
  position: relative;
  text-transform: uppercase;
}
.middelSection {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 2.5rem;
}
.LogoSection {
  display: block;
  width: 25%;
}
.SocialIcon {
  display: flex;
}
.paddingIcon {
  padding: 0.8125rem 1rem;
}
.footerMenu {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  margin-bottom: 0.875rem;
  margin-top: 0.5rem;
}
.Newsletter {
  padding: 0.6rem 0;
  text-decoration: none;
  color: #fff;
}
.footerMenu a {
  color: #fff;
  text-decoration: none;
  padding: 0.6rem 0;
}
.footerMenu a:hover {
  color: #fff;
  text-decoration: underline;
  padding: 0.6rem 0;
}
.DigitalTextFooter {
  padding-top: 0.9375rem;
  margin: 0.3125rem 0;
}
.footerLegalMenu {
  padding-top: 0.9375rem;
  line-height: 2;
}
.footerLegalMenu a {
  color: #fff;
  padding: 0.625rem 0.625rem 0.625rem 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding-right: 1.25rem;
}
.footerLegalMenu a:hover {
  text-decoration: underline;
}
.footerButton {
  border: thin solid white;
  display: inline-block;
  margin: 1.875rem 0.9375rem 1.25rem 0;
  color: #fff;
  font-family: NeueHaasUnica, Arial, sans-serif;
  font-size: 0.70003rem;
  letter-spacing: 0.08rem;
  line-height: 1.4;
  padding: 0.625rem;
  text-transform: uppercase;
}
.footerButton a {
  text-decoration: unset;
}
.footerButton a:hover {
  background-color: #cdcdcd;
  color: #000;
}
.footerButton:hover {
  background-color: #cdcdcd;
  color: #000;
}
.lastBtn {
  color: #fff;
}

/* Fashion-Page Css 29-10-2022 */
.HeroImage {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.HeaderHeroImg {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.w100 {
  width: 100%;
}
.MasterTitle {
  font-size: 3.75rem;
  line-height: 1;
  margin-bottom: 2.5rem;
  padding: 2.3rem 1.875rem 1.5rem;
  background-color: #ffffff;
  bottom: 0;
  color: #000000;
  display: -webkit-box;
  display: -webkit-unset;
  display: -ms-unsetbox;
  display: unset;
  font-family: SaolDisplay, Georgia, Times, serif;
  font-weight: normal;
  padding: 1.625rem;
  position: absolute;
  text-align: left;
  text-transform: uppercase !important;
}

.FashionPadding {
  padding: 0 2.5rem;
}
.textUppercase {
  text-transform: uppercase;
}
a.textCapital {
  text-transform: capitalize;
}
.paddingT5 {
  padding-top: 1.5625rem;
}
.paddinTB {
  padding-bottom: 2.5rem;
  padding-top: 1.25rem;
}
.FTrend {
  grid-gap: 1.5625rem;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-area: content;
}
.TrendsFashion .cardTrending {
  max-width: 400px;
  margin: 0px 12px;
  text-align: left;
  width: 50%;
  color: #000;
}
.TrendsFashion .HeightWidth282 {
  height: 388px;
  width: 388px;
}
.horoscopesMiddleText {
  font-family: SaolDisplay, Georgia, Times, serif;
  text-transform: uppercase;
}
.SignWithText {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5625rem;
  display: grid;
  grid-area: content;
}
.SignWithText a {
  color: #000;
  text-decoration: unset;
}

.SignWithText .fs16:hover {
  color: #808080;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: unset;
}
.fs16 {
  font-size: 16px;
}

.imgfluid_w100 {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.containerfluid_boxGrayTop {
  background-color: #e8e8e8;
  color: #000;
  min-height: 121px;
  min-width: 45.5rem;
  padding: 0.9375rem 0 1.25rem;
  text-align: center;
  width: 100%;
}
.boxBlackTop {
  background-color: #000000;
  color: #e8e8e8;
  min-height: 121px;
  min-width: 10.5rem;
  padding: 0.9375rem 0 1.25rem;
  text-align: center;
  width: 100%;
}

.container_marginT5_marginB5 {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container_marginT5 {
  width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.GouldingSings_paddingT5 {
  font-size: 2.4rem;
  line-height: 1.2;
  display: block;
  font-family: SaolDisplay, Georgia, Times, serif;
  font-weight: normal;
  margin-bottom: 0.3125rem;
  text-align: center;
  padding-top: 1.5625rem;
}

.FashionNew_textCenter {
  border-bottom: thin solid #cccccc;
  border-top: thin solid #cccccc;
  padding: 2.5rem 0 1.5rem;
  margin: 0.6rem 0;
  text-align: center;
}

.container_paddinTB_TrendsFashion {
  width: 1200px;
  margin: auto;
  padding-bottom: 2.5rem;
  padding-top: 1.25rem;

  
}
.cardTrending {
  max-width: 400px;
  margin: 0px 12px;
  text-align: left;
  width: 50%;
  color: #000;
}
.HeightWidth282 {
  height: 388px;
  width: 388px;
}

@media (max-width: 767px) {
.MasterHead {
  background-size: contain;
  min-height: 200px;
}
.MasterTitle{
  padding: 1rem;
}

}
@media (max-width: 512px) {
  
  .MasterTitle{
    padding: 0.5rem;
    margin-bottom:3.5rem;
    font-size: 1.8rem !important;
  }
  .boxBlackTop{
    min-height: 80px;
  }
  
  }

  @media (max-width: 450px) {
  
    .MasterHead {
      min-height: 180px;
    }
    .MasterTitle{
      
      margin-bottom:3.5rem;
      font-size: 1.6rem !important;
    }
    .boxBlackTop{
      min-height: 75px;
    }
    }

    @media (max-width: 380px) {
  
      .MasterHead {
        min-height: 140px;
      }
      .MasterTitle{
        
        margin-bottom:2.5rem;
        font-size: 1.4rem !important;
      }
      
      }

      @media (max-width: 332px) {
        .MasterHead {
          min-height: 130px;
        }
        
        .MasterTitle{
          
          margin-bottom:3rem;
          font-size: 1.2rem !important;
        }
        
        
        }