
.container {
  width: 75%;
  margin: auto;
}
.MainBannerIti {
  display: flex;
  width: 100%;
}
.MainBannerImageConvert {
  margin: auto;
  width: 100%;
}
.MainBannerItiControl {
  display: flex;
}
.MainBannerItiControl.bottom {
  margin-bottom: 18px;}
.MainBannerItiImg.Side {
  margin: 0 18px;
  height: 200px;
  display: flex;
  overflow: hidden;
  width: 50%;}
.MainBannerItiImg {
  width: 50%;
    display: flex;
  overflow: hidden;}
.MainBannerItiImg img {
  width: 100%;}
.MainBannerItiWIdth {
  width: 50%;
  float: left;}
.MainBannerImg img {
  width: 100%;}
.MainBannerImg img {
  border-radius: 12px 0px 0px 12px;}
.MainBannerImg {
  width: 50%;
  float: left;
  height: 418px;
  overflow: hidden;
  display: flex;
}
.borderRaduis {
  border-radius: 0px 12px 12px 0px;
}

@media (max-width: 1024.98px) {
  .MainBannerImg {
    height: 318px;
  }
  .MainBannerItiImg.Side {
    height: 150px;
  }
  .container {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  .MainBannerImg img {
    border-radius: 0px 0px 0px 0px;
  }
  .MainBannerItiWIdth {
    width: 100%;
    margin: 18px 0 0 0;
  }
  .MainBannerImg {
    width: 100%;
  }
  .MainBannerItiImg.Side {
    margin: 0 18px 0 0px;
    height: -webkit-fill-available;
  }
  .borderRaduis {
    border-radius: 0px 0px 0px 0px;}}
@media (max-width: 575.98px) {
  .MainBannerImg {
    height: 170px;
    border-radius: 0;}}